NEXT_PUBLIC_SUPABASE_URL=https://zwxjsraakrjczrhrcfna.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_2y4ePlo0-eH5H1h_Lvqxzw_w9KfiVuM
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.zwxjsraakrjczrhrcfna.supabase.co:5432/postgres
SUPABASE_SERVICE_ROLE_KEY=
OMIE_APP_KEY=
OMIE_APP_SECRET=
